.grafico-container {
  width: 400px; 
  height: 400px; 
  margin: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 6px 0;
  background: #f5f5f5;
  border-radius: 6px;
}

.acciones button {
  margin-left: 5px;
  cursor: pointer;
}
