body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

/* RESUMEN */
.resumen {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.resumen p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

.ingreso p { color: #22c55e; }
.costo p { color: #ef4444; }
.ahorro p { color: #3b82f6; }
.balance p { color: #0f172a; }

/* HISTORIAL */
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* GRÁFICO */
canvas {
  max-height: 320px;
}
